@charset "UTF-8";
/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
/* ========== CSS Variables =========== */
:root {
  --primary-color: #ff5e3a;
  --default-color: #4f5665;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lightpink: #ffcce0;
  --blue: #1a1aff;
  --custom: #1a1aff;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
  --widthprofile:5vw;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
  /* border: 5px solid red; */
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}
@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}
.d-flex {
  display: flex;
  align-items: center;
}

/* ========== Header =========== */
.header {
  margin-bottom: 1vh;
  /* background-color: blue; */
}
.header .navbar {
  padding: 2.5rem 0;
  position: relative;
  z-index: 1;
}
.header .navbar .row {
  justify-content: space-between;
}
.header .navbar .row .nav-list a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--black-color);
}
.header .navbar .row .nav-list a.user-link {
  display: none;
}
.header .navbar .row .nav-list a:not(:last-child) {
  margin-right: 0.5rem;
}
.header .navbar .row .nav-list a:hover {
  color: var(--primary-color);
}
.header .navbar .row .icons .icon {
  font-size: 2.2rem;
  padding: 0.5rem;
  color: var(--black-color);
  cursor: pointer;
  justify-content: center;
  position: relative;
}
.header .navbar .row .icons .icon:not(:last-child) {
  margin-right: 3rem;
}
.header .navbar .row .icons .icon span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border: 1px solid var(--black-color);
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  border-radius: 50%;
}
.header .navbar .row .icons .icon:hover {
  background-color: #f4f4f4;
}
.header .hamburger,
.header .close {
  display: none;
}
@media (min-width: 1600px) {
  .header .header .navbar {
    padding: 4rem 0;
  }
}
@media (max-width: 768px) {
  .header .navbar .row .icons {
    display: none;
  }
  .header .navbar .row .nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 35rem;
    height: 100%;
    background-color: var(--white-color);
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem;
    transition: 0.5s;
  }
  .header .navbar .row .nav-list a {
    font-size: 1.8rem;
  }
  .header .navbar .row .nav-list a:not(:last-child) {
    margin: 0 0 1rem 0;
  }
  .header .navbar .row .nav-list .close {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--black-color);
    font-size: 3rem;
  }
  .header .navbar .row .nav-list.show {
    right: 0;
  }
  .header .navbar .row .hamburger {
    display: block;
    font-size: 3rem;
    color: var(--black-color);
  }
}

/* ============= Content ================ */
.aboutcont{
  color: #4c4c4c;
  /* background-color: peachpuff; */
  padding-top:0;
}
.desc{
  /* border:2px solid black; */
  text-align: center;
  font-size: 2vw;
  margin-top:1vh;
  padding-top:2vh;
  padding-bottom: 2vh;
}

.t1{
  font-weight: bold;
}

.socials{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.socials .insta, .socials .fb{
  width: 33vw;
  height: 44vw;
  min-width: 400px;
  min-height: 533.3333333px;
  /* border: 5px solid blue; */
  margin-left: 0;
}

.models, .team{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.models img{
  margin:4vw auto;
  margin-bottom: 0;
}

.container3{
  text-align: center;
  margin-right: 10vh;
  margin-left: 10vh;
  /* border: 2px solid black; */
  width:fit-content;
}

.container4{
  text-align: center;
  margin-right: 10vh;
  margin-left: 10vh;
  /* border: 2px solid black; */
  width:fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.team-mem{
  font-size: 1.4vw;
  margin-top: 5vh;
  
}
.team-mem p{
  display:flex;
  align-items: center;
  justify-content: center;
 
}

.container3 #m4{
  font-size: 2vw;
  margin-top: 0;
}
.photo{
  display:flex;
  width: 10vw;
  height: 10vw;
  min-width: 180px;
  min-height: 180px;
 /*padding-top: 10px;*/

  background-size:100%;
}


.photo img{
  /*width:;*/
  /*height: inherit;*/
  border-radius: 50%;
  width:20rem;
  height:18rem;
  /* background-size: 100%; */
}

/* ========== Footer =========== */
.footer {
  background-color: rgba(252, 203, 144, 0.15);
  padding: 10rem 3rem 10rem;
  margin-top: 7rem;
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.footer .row .col .logo {
  margin-bottom: 2.5rem;
}
.tr{
  margin-right:-150px;
  width:75%;
  height:40%;
}
.footer .row .col:first-child p {
  margin-bottom: 2rem;
  color: #4f5665;
  font-size: 1.7rem;
}
.footer .row .col .icons {
  margin-bottom: 2rem;
}
.footer .row .col .icon {
  color: var(--white-color);
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}
.footer .row .col .icon:not(:last-child) {
  margin-right: 1rem;
}
.footer .row .col:first-child .color {
  color: var(--primary-color);
}
.footer .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .row .col:last-child div {
  display: flex;
  flex-direction: column;
}
.footer .row .col:last-child div a {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #4f5665;
}
.footer .row .col:last-child h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.footer .row .col:last-child .d-flex {
  flex-direction: row;
  margin-bottom: 2rem;
}
.footer .row .col:last-child .d-flex .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: auto;
  height: auto;
  padding: 0.7rem;
}
.footer .row .col:last-child .d-flex span {
  font-size: 1.8rem;
  color: #4f5665;
}

@media (max-width: 1200px) {
  .footer .col:first-child {
    display: none;
  }

  .footer .row {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer .row .col:last-child {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }
}
/*# sourceMappingURL=styles.css.map */
.partner-text{
  margin-left:39%;
  margin-right: 10%;
  
}
.partner-text p{
  color:rgba(255,81,81,1);
  font-size: 50px;
  font-weight: 500;

}
@media (max-width: 1200px){
  .partner-text p{
    font-size: 50px;
  
  }
  
  .team-mem p{
    font-size:17px;
    font-weight: lighter;
  }
}
@media (max-width: 768px) {
  .partner-text p{
    font-size: 25px;
}

.partner-text{
  margin-left:26%;
  position:relative;
  
}
.team-mem p{
  font-size:8px;
  font-weight:bolder;
}
}
.insta-name img{
  
  margin-top: 0%;
  padding-right: 10px;
}
.container3 #m5{
  text-align: center;
  font-size: 30px;
}
.container3 #m6{
  margin-top: 0%;
}
.insta-name{
  display:flex;
  justify-content: center;
}

.container3 #m7{
  font-size: 1.4vw;
  margin-top: 15px;
  font-weight: 600;
 
}
.team-mem p{
  font-size:20px;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .team-mem{
    margin: 10%;
  }
}